.cursor{
    cursor: pointer;
    /* color: #ffffff; */

}
.text-decorator-none{
    text-decoration: none;
}
.backgroundNavmar{
    background: -webkit-linear-gradient(left, #10f7ff -10%, #ff0faf 100%)!important;
    backface-visibility: hidden;
}
.navSpaceLeft{
    margin-left: auto!important;
    
  }
  .navSpaceRight{
    margin-right: auto!important;

  }
  .navPadding{
      /* background-color: #349e9780; */
      border-radius: 10px;
      padding: 0px 30px;
      margin: 0px 10px;
      color: #3D3D3D!important;
  }
  .navPadding:hover{
    border-bottom-style: double!important;
    border-color: #f2502c!important;
    border: 2px;
    color: #f2502c;
    padding: 0px 30px;

}
.navPaddingCanto{
    background-color: none;
    border-radius: 10px;
    padding: 0px 10px;
    color: #ffffff;
    cursor: pointer;
     
}
.navPaddingCanto:hover{
    border-bottom-style: double!important;
    border-color: #ffffff!important;
    border: 2px;
    color: #3af00c;
    padding: 0px 10px;
    
    
}
.container{
    /* justify-content: 100px!important; */
}
.logoImg{
    /* background-image: url('./images/Otakugueek.gif')!important; */
    background-image: url('./images/OtakugueekRecort.gif')!important;
    width: 100px;
    height: auto;
    display: block;
    /* padding: 37px 0px 10px 0px  !important; */
    padding: 12px 0px 12px 5px !important;
    border-radius:10%;
    opacity: 100%;
    background-size: cover;

}

