.caixa{
  background-color: #3F51B5!important;
}
.titulo{
  color: #ffffff!important; 
  font-weight: bold!important;
   padding: 0px 5px!important;
}
.button{
  border-color: #ffffff!important;
   background-color: #3F51B5!important;
    color: #ffffff!important;
}
.hoverButton:hover{
  transform: scale(1.2);
  background-color: #edffb3!important;
  color: #000000!important;
}
.homevh{
  padding: 5%!important;
  /* width: 100vw!important; */
  /* min-height: calc(100vh - 50%)!important; */
  height: 100vh!important;
  /* background-image: url("https://media3.giphy.com/media/dyjrpqaUVqCELGuQVr/giphy.gif"); */
  
}
.fire{
    color: blue;
    text-align: center;

    /* background gradient */
    background: -webkit-linear-gradient(left, #ff1053 0%, #ff4f0f 100%);
    background: linear-gradient(to right, #ff1053 0%, #ff4f0f 100%);

      /* background imagem gif */
    background-image: url('./imagens/fire-51.gif');

    /* /* background texto com Imagem gif */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
img{
    width: 600px;
    height: 400px;
    display: block;
    padding: 37px 0px 10px 0px  !important;
    border-radius:10%;
    opacity: 90%;
}
.postagens{
  background-color: #ffffff!important ;
}


