.box1{
    /* background-color:#3F51B5!important; */
    height: 20vh;
    background: -webkit-linear-gradient(left, #10f7ff -10%, #ff0faf 100%)!important;
    backface-visibility: hidden;
}
.redes1{
    font-size: 40px!important; 
    color: #ffffff!important; 
}
.redes2{
    font-size: 40px!important; 
    color: #ffffff!important; 
    padding: 0px 2px!important;
}
.redes3{
    font-size: 30px!important; 
    color: white!important; 
    padding-left: 5px!important;
}

.hover:hover{
    transform: scale(1.5);
    

}
.box2{
    background-color: #303F9F; 
    height: 60px;
}
.textos{
    color: #ffffff!important;
}

.backgroundNavbar2{
    
}
